div{

    div{

        div{

            div.card{

                img.img4{
                    margin: 5px;
                    width: 300px;
                    height: 200px;
                }
            }
        }
    }
}