img.logos{
    width: 40px;
    height: 40px;
}
.footer11 {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 5px;
}
.footer11 ul {
    list-style: none;
    padding: 0;
    display: flex;
}
.footer11 ul li {
    margin-left: 15px;
}
.containerfooter{
    margin-top: 10px;
}
.custom-center{
    display: flex;
    justify-content: center;
}
.divaf{
    display: flex;
    justify-content: center;
    align-items: center;
}
.datafiscal{
    width: 90px;
    height: 90px;
}