@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@200&family=Paytone+One&display=swap');
main.maincontainer{
    div.filtro{
        width: 20%;
        padding: 10px;
        box-sizing: border-box;}

    
    div.divbox{
       
        div.cajaimg{
            margin: 5px 5px 0px 5px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: normal;
            flex-grow: 10px;
            text-align: center;
            margin: 30px;
            div.div-img{
                margin: 3px;
                padding: 2px;
                p{
                    text-align: center;
                    color: white;
                }
                div.descripImage{
                    color: white;
                    border: black groove 3px;
                    border-radius: 5px;
                    padding: 3px;
                    text-align: center;
                    display: inline-block;
                    
                    div.descripImage2{
                        display: inline;
                        p.parrafo{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

main{

    div.banner{
        background-color: #d9534f;
        color: white;
        padding: 15px;
        align-items: center;
            p{
                font-size: 20px;
                text-align: center;
            }

    }
    div.containerofer{
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;

            div.product{
            background-color: white;
            border: 1px solid #ddd;
            padding: 10px;
            flex: 1;
            margin-bottom: 20px;
            border-radius: 10px;
            }
            div.product h2{
                font-size: 30px;
                margin-top: 0;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            div.product p{
                margin: 10px 0;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 20px;
            }
            div.product img{
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            width: 320px;
            height: 300px;
            }
            div.product a{
                text-decoration: none;
                background-color: grey;
                color: white;
                padding: 5px;
                border: solid 2px grey;
                border-radius: 6px;
            }
            div.advertising{
                flex: 1;
                padding: 10px;
                background-color: #f9f9f9;
                border: 1px solid #ddd;
                text-align: center;
                img.ad-image{
                    max-width: 100%;
                    height: auto;
                }
            }
    }
}
