 @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


 body{
    background-color:  #e0e6f6; 
}

.img1{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
 .caja1{
    background-color: #212faf;
    padding: 15px;
    align-items: center;
    border: 3px solid black;
}
.cajaa{
    margin-left: auto;
}
.link{
    color: black;
    margin: 10px;
    font-family: 'Play', sans-serif;
}
.cajaimg{
    text-align: center;
    margin: 30px;
    display: flex;
    
}
.img3{
    width: 225px;
    height: 250px;
}
.pie1{
    margin-left: auto;

}
.apie1{
    color: black;
    margin: 10px 5px 5px 10px;
    font-family: 'Play', sans-serif;
}

.divofertas{
    background-color: #01087A;
}

form{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}
.labelI{
    color: black;
    font-family: 'Play', sans-serif;
}
#bodylogin{
    align-items: center;
    height: 100vh;
}

.titleoferta{
    color: red;
    font-family: 'Play', sans-serif;   
    text-align: center;
    font-size: 100px;
}

.imgpublicidad{
    width: 1000px;
    height: 500px;
}

.divofertas{
    margin-left: auto;
    margin-right: auto;
    }


.titleCont{
    color: black;
    font-family: 'Play', sans-serif;
}

p{
    color: black;
}

.titleMarcas{
    color: #000000;
    font-family: 'Play', sans-serif;

}

.imgMarcas{
    width: 350px;
    height: 350px;
    margin-right: 10px;
    margin-top: 15px;
}

.formlog{
    margin: auto;
    display: inline-block;
}
.formlog label, .formlog input{
    display: inline;
}

.main1{

}

.container{
    background-color: #08a5ff;
}
.bkheader
{
    background-color: #08a5ff;
}

.navegador{
    background-color: #08a5ff;
}



/* @media (max-width: 768px) {
  .menu {
    display: none;
  }

  .navbar.collapsed .menu {
    display: block;
  }
  
  .navbar.collapsed .toggle-button {
    display: none;
  }

  .navbar.collapsed .menu li {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 1025px) {
} */

