@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Pangolin&family=Righteous&display=swap');


body{
    background: linear-gradient(90deg, rgba(8,5,66,1) 0%, rgba(1,98,152,1) 40%, rgba(52,199,255,1) 100%);

    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 100px;
}

/* ACA ESTA TODO LO QUE ESTA EN EL NAV */

.nav-bar{
    background-color: azure;
}


.navbar-collapse {
    justify-content: flex-end;
}
.div-nav{
text-align: right;
}
.form-control {
    margin-right: 10px;
}
  
.btn-primary {
    background-color: #4a9aee;
    color: #fff;
}

/* ACA TERMINA TODO LO QUE ESTA EN EL NAV */


/* TODO LO QUE ESTA EN EL MAIN */
.maincontainer{
    min-height: calc(100% - 50px);
}
.TitleMarcas {
    margin-bottom: 10px;
}

/* .main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.cajaimg{
    margin: 5px 5px 0px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    flex-grow: 10px;
}
.img3{
    width: 225px;
    height: 225px;
    border: 3px groove black ;
    border-radius: 5px;
}
.img4{
    width: 225px;
    height: 360px;
    border: 3px groove black ;
    border-radius: 5px;
}
.descripImage{
  color: white;
  border: wheat groove 3px;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  display: inline-block;
}
.descripImage2{
  display: inline;
}
.parrafo{
  margin: 0;
}
p{
    text-align: center;
    color: white;
}

.div-img{
    margin: 3px;
    padding: 2px; 
}

.img1{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
 .caja1{
    background-color: #212faf;
    padding: 15px;
    align-items: center;
    border: 3px solid black;
}
.cajaa{
    margin-left: auto;
}
.link{
    color: black;
    margin: 10px;
    font-family: 'Play', sans-serif;
}
.cajaimg{
    text-align: center;
    margin: 30px;
    display: flex;
    
}
.side-text {
    position: relative;
    top: 0;
    right: 0;
    padding: 50px;
}
/* .linkside-text{
    background-color: rgb(9, 9, 97);
    width: 160px;
    border: white solid 3px;
    border-radius: 5px;
} */
.btn-text{
    font-size: 20px;
    padding: 1em 3.3em;
    transform: perspective(200px) rotateX(15deg);
    color: black;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(70,135,252,1) 100%);
    box-shadow: rgba(63, 94, 251, 0.2) 0px 20px 29px 0px;
    will-change: transform;
    transition: all 0.2s;
    border-bottom: 2px solid rgba(70, 135, 252, 1);
}
.btn-text:hover{
    transform: perspective(180px) rotateX(15deg) translateY(2px);
}
.btn-text:active{
    transform: perspective(170px) rotateX(30deg) translateY(5px);
}
/* .btn-text:hover{
    background: blue;
    box-shadow: 0 0 10px black, 0 0 50px black, 0 0 50px black, 0 0 100px black;

} */

.linkside-text2{
    color: white;
}
.linkside-text3{
    color:white;
}
.linkside-text{
    display: flex;
    justify-content: center;
}
.linkside-text a{
    display: flex;
    text-decoration: none;
    color: aquamarine;
    justify-content: center;
}
.ad-image {
    max-width: 100%;
    margin: 10px 10px 10px 10px;
}
.ad-image2
{
    width: 400px;
    height:250px;
    border: black solid 5px;
    border-radius:5px;
}
.main-container {
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    flex-grow: 10px;
}
.imgMarcas{
    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-top: 15px;
    border: 7px solid black;
    border-radius: 20px;
}
.main1{
    text-align: center;
}
.mainprincipal{
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
}

.titlemod{
    font-family: 'Righteous';
    color: black;
}
.titleCont{
    color:white;
}

/* ACA TERMINA TODO LO QUE ESTA EN EL MAIN */



/* TODO LO QUE ES EL FORM PARA LA PAGINA INGRESAR */
.formlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* Ajusta el ancho del formulario según tus necesidades */
    margin: 0 auto;
}
.div-form{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.labelI {
    width: 100px;
    margin-right: 10px; 
}
.inputI {
    margin: 10px;
    flex-grow: 0;
}
/* ACA TERMINA TODO LO QUE ES EL FORM PARA LA PAGINA INGRESAR */



/* TODO LO QUE ES EL FOOTER */
.footer1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}
.footer-links{
    display: flex;
    justify-content: flex-end;
}
.apie1{
    text-decoration: none;
    border: 2px solid rgb(60, 60, 188);
    border-radius: 5px;
    padding: 1px;
    margin-left: 10px;
}
.logos
{
    width: 30px;
    height: 30px;
    margin: 10px;
}
/* ACA TERMINA TODO LO QUE ES EL FOOTER */




.mainformprueba{
    display: flex;
    justify-content:center;
    padding: 100px 50px 100px 50px;
}


.form {
  position: relative;
  display: block;
  padding: 2.2rem;
  max-width: 350px;
  background: linear-gradient(90deg, rgba(8,5,66,1) 0%, rgba(1,98,152,1) 40%, rgba(52,199,255,1) 100%);
  border: 2px solid #fff;
  -webkit-box-shadow: rgba(0,212,255) 0px 0px 50px -15px;
  box-shadow: rgba(0,212,255) 0px 0px 50px -15px;
  overflow: hidden;
  z-index: +1;
  padding-top: 50px;
}

/*------input and submit section-------*/

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 2px solid #ffffff;
  margin: 8px 0;
  font-family: monospace;
}

.input-container input {
  background-color: #fff;
  padding: 6px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 250px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-mail:focus::placeholder {
  opacity: 0;
  transition: opacity .9s;
}

.input-pwd:focus::placeholder {
  opacity: 0;
  transition: opacity .9s;
}

.submit {
  position: relative;
  display: block;
  padding: 8px;
  background-color: #c0c0c0;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  text-transform: uppercase;
  overflow: hidden;
}

.submit:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 3.9px;
  box-shadow: 4px 5px 17px -4px #ffffff;
  cursor: pointer;
}

.submit:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 .5s 0s linear;
}

.submit::before {
  content: '';
  display: block;
  width: 0px;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

/*--------signup section---------*/

.signup-link {
  color: #c0c0c0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  font-family: monospace;
}

.signup-link a {
  color: #fff;
  text-decoration: none;
}

.up:hover {
  text-decoration: underline;
}


/*--------header section-----------*/

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: monospace;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  animation-duration: 1.5s;
  overflow: hidden;
  transition: .12s;
}

.form-title span {
  animation: flickering 2s linear infinite both;
}

.title-2 {
  display: block;
  margin-top: -0.5rem;
  font-size: 2.1rem;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  -webkit-text-stroke: #000000 0.1rem;
  letter-spacing: 0.2rem;
  color: transparent;
  position: relative;
  text-shadow: 0px 0px 16px #ffffff;
}

.title-2 span::before,
.title-2 span::after {
  content: '—';
}

@keyframes flickering {
  0%,
  100% {
    opacity: 1;
  }

  41.99% {
    opacity: 1;
  }

  42% {
    opacity: 0;
  }

  43% {
    opacity: 0;
  }

  43.01% {
    opacity: 1;
  }

  47.99% {
    opacity: 1;
  }

  48% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  49.01% {
    opacity: 1;
  }
}

/*---------shooting stars-----------*/


.bg-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
  animation: animateBg 50s linear infinite;
}

@keyframes animateBg {
  0%,100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
  animation: animate 3s linear infinite;
}

.star::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg,#fff,transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

.star:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1s;
}

.star:nth-child(2) {
  top: 0;
  right: 100px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.star:nth-child(3) {
  top: 0;
  right: 220px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.star:nth-child(4) {
  top: 0;
  right: -220px;
  left: initial;
  animation-delay: 1.6s;
  animation-duration: 1.6s;
}
